@model YemekTarifleriApp.Entity.Member

<div class="card mr-5 mb-2" style="height: 22rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.MemberName</h5>
        <p class="card-text">@Model.MemberUserName</p>
        @*<img class=" card-img img-fluid" src="~/img/@Model.RecipeMembers"/>*@
    </div>
</div>
